<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltf.azerothcore.mapper.DbUserMapper">

    <resultMap type="com.ltf.azerothcore.entity.DbUser" id="dbUserMap">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="salt" column="salt"/>
        <result property="verifier" column="verifier"/>
    </resultMap>
    <insert id="regedit" parameterType="com.ltf.azerothcore.entity.DbUser" useGeneratedKeys="true" keyProperty="id">
        insert  into account(username,salt,verifier) values(#{username},#{salt},#{verifier})
    </insert>
    <update id="upDateVerifier">
        update account set verifier=#{newVerifier} where  username=#{username}
    </update>

    <select id="selectDbUSerByUsername" resultType="com.ltf.azerothcore.entity.DbUser">
        select id,username,salt,verifier from account where username=#{username}
    </select>



</mapper>
